# Compiled Object files
*.slo
*.lo
*.o
# qt files
*.pro.user*
.qmake*
moc/
moc_*
ui_*
# shadow build directories
build-*
Makefile*
CMakeLists.txt
.DS_Store
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
